.row
  .col-md-12
    .page-title
      = link_to raw("<i class='icon-custom-left'></i>"), car_types_path
      %h3
        = title


= form_for @car_type do |f|
  - if @car_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car_type.errors.count, "error")} prohibited this car_type from being saved:"
      %ul
        - @car_type.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-12
      .grid.simple
        .grid-title.no-border
          %h4
            Car type 
            %span.semi-bold details
        .grid-body.no-border
          %br/
          .row
            .col-md-8.col-sm-8.col-xs-8
              .form-group
                = f.label :name, :class => "form-label"
                = f.text_field :name, :class => "form-control"
    
  .row
    .col-md-12
      = f.submit 'Save', class: "btn btn-primary"
