= form_for @car_type do |f|
  - if @car_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car_type.errors.count, "error")} prohibited this car_type from being saved:"
      %ul
        - @car_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    
  .actions
    = f.submit 'Save'
