%h1 Listing car_types

%table.table
  %tr
    %th Type
    %th
    %th
    %th

  - @car_types.each do |car_type|
    %tr
      %td= car_type.name
      %td= link_to 'Show', car_type
      %td= link_to 'Edit', edit_car_type_path(car_type)
      %td= link_to 'Destroy', car_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Car type', new_car_type_path
