%h1 Listing simcards

= search_form_for @q, :class => "form-inline" do |f| 
  = f.search_field :telephone_number_cont, :placeholder => "Search with telephone number" 
  = f.submit "Search" ,:class => "btn btn-default"

%br

= form_tag '', :method => :get, :class => "form-inline" do
  .form-group
    %b= "Teleprovider :"
    = select_tag( :by_teleprovider, options_for_select(all_teleproviders, params[:by_teleprovider]), :include_blank => true)
  .form-group
    = radio_button_tag 'available', 'all' , true
    = "All"
  .form-group
    = radio_button_tag 'available', 'true' , params["available"] == 'true' ? true : false
    = "Available" 
  .form-group
    = radio_button_tag 'available', 'false' , params["available"] == 'false' ? true : false
    = "Used"
  

  = submit_tag 'Filter', :class => "btn btn-default"

%br

%table.table
  %tr
    = content_tag :th, sort_link(@q, :telephone_number)
    = content_tag :th, sort_link(@q, 'Teleprovider name')
    = content_tag :th, sort_link(@q, :monthly_price)
    %th
    %th
    %th

  - @simcards.each do |simcard|
    %tr
      %td= simcard.telephone_number
      %td= simcard.teleprovider.name
      %td= simcard.monthly_price
      - if simcard.device
        %td= link_to simcard.device.name, simcard.device
      - else 
        %td= "No device"
      %td= link_to 'Show', simcard
      %td= link_to 'Edit', edit_simcard_path(simcard)
      %td= link_to 'Destroy', simcard, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Simcard', new_simcard_path
