%p#notice= notice

%p
  %b Telephone no:
  = @simcard.telephone_number
%p
  %b Teleprovider:
  = link_to @simcard.teleprovider.name, @simcard.teleprovider
%p
  %b Monthly price:
  = @simcard.monthly_price
%p
  %b Device:
  - if @simcard.device_id.nil?
    = "This simcard has no devices associated with it"
  - else 
    = link_to Device.find(@simcard.device_id).name, Device.find(@simcard.device_id)


= link_to 'Edit', edit_simcard_path(@simcard)
\|
= link_to 'Back', simcards_path
