.panel.panel-default
	.panel-body
		.nested-fields
			.form-group.conjunction_field
				= f.fields_for :conjunction do |c|
					= c.select :value, ['And', 'Or'] 

			.form-group
				= f.label :name
				%br
				= f.collection_select(:id, Rule.all, :id, :name)

			.params.form-group 
				= f.fields_for :params do |p|
					.field

			= link_to_remove_association "Remove", f, :class => "btn btn-danger btn-small"

			%br