%h1 Listing alarms

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @alarms.each do |alarm|
    %tr
      %td= alarm.name
      %td= link_to 'Show', alarm
      %td= link_to 'Edit', edit_alarm_path(alarm)
      %td= link_to 'Destroy', alarm, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Alarm', new_alarm_path
