= form_for(@device_manufacturer, html: { id: 'form-device-manufacturer' }) do |f|
  - if @device_manufacturer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device_manufacturer.errors.count, "error")} prohibited this device_manufacturer from being saved:"
      %ul
        - @device_manufacturer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control"

  .form-group
    = f.submit 'Save', class: "btn btn-primary"
