%h1 Listing devices

= search_form_for @q do |f| 
  = f.search_field :name_cont, :placeholder => "Search with name"
  = f.submit "Search", :class => "btn btn-default"

%br

= form_tag '', :method => :get, :class => "form-inline" do
  .form-group
    = "Device model"
    = select_tag( :by_device_mode, options_for_select(all_device_models, params[:by_device_mode]), :include_blank => true)
  %br 
  .form-group
    = "Device type"
    = select_tag( :by_device_type, options_for_select(all_device_types, params[:by_device_type]), :include_blank => true)
  %br 
  .form-group
    = radio_button_tag 'has_simcard', 'all' , true
    = "All"
    = radio_button_tag 'has_simcard', 'true' , params["has_simcard"] == 'true' ? true : false
    = "With Simcard" 
    = radio_button_tag 'has_simcard', 'false' , params["has_simcard"] == 'false' ? true : false
    = "Without Simcard"
    
  %br
  .form-group
    = radio_button_tag 'available', 'all' , true
    = "All"
    = radio_button_tag 'available', 'true' , params["available"] == 'true' ? true : false
    = "Available" 
  .form-group
    = radio_button_tag 'available', 'false' , params["available"] == 'false' ? true : false
    = "Used"
  .form-group
    
  %br
  = submit_tag 'Filter', :class => "btn btn-primary"

%br

%table.table
  %tr
    = content_tag :th, sort_link(@q, :name)
    = content_tag :th, sort_link(@q, :emei)
    = content_tag :th, sort_link(@q, :cost_price)


  - @devices.each do |device|
    %tr
      %td= device.name
      %td= device.emei
      %td= device.cost_price
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
      %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_device_path
