
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          &nbsp;
        .tools
          %a.collapse{href: "javascript:;"}
          %a.config{"data-toggle" => "modal", href: "#grid-config"}
          %a.reload{href: "javascript:;"}
      .grid-body.no-border
        %h3
          &nbsp;
        %p#notice= notice

        %p
          %b Name:
          = @device.name
        %p
          %b Emei:
          = @device.emei
        %p
          %b Cost price:
          = @device.cost_price

        = link_to 'Edit', edit_device_path(@device)
        \|
        = link_to 'Back', devices_path
