%p#notice= notice

%div{ :style => "width: 800px;" }
  %div#devices_show{ :style => "width: 800px; height: 400px;"}

%br

%p
  %b Name:
  = @device.name
%p
  %b Emei:
  = @device.emei
%p
  %b Cost price:
  = @device.cost_price

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
