.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h3
          = Device
      .grid-body.no-border
        .form-group
          %b Emei:
          = @device.emei
        .form-group
          %b Cost price:
          = @device.cost_price
        .form-group
          %b Device Model:
          = @device.try(:device_model).try(:name)
        .form-group
          %b Device Type:
          = @device.try(:device_type).try(:name)
        .form-group
          %b Car:
          = link_to @device.try(:car).try(:numberplate), @device.try(:car) 
        = link_to 'Edit', edit_device_path(@device)
        \|
        = link_to 'Back', devices_path
