%p#notice= notice

%div{ :style => "width: 800px;" }
  %div#map{ :style => "width: 800px; height: 400px;"}

- if !@hash.empty? 
  %script{:type=>"text/javascript"}
    $(function() {

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { zoom: 10 }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(
    = raw @hash.to_json
    );
    / handler.map.centerOn(
    / = raw @hash.first.to_json
    / );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });

    $(".refresh").click(function(){ 
    $.getJSON('/users', function(json){
    console.log(
    = raw @hash.to_json
    )
    handler.removeMarkers(markers)
    markers = handler.addMarkers(
    = raw @hash.to_json
    );
    })
    })

    });

= button_tag "Refresh", :class => "refresh"

%script{:type=>"text/javascript"}
  

%p
  %b Name:
  = @device.name
%p
  %b Emei:
  = @device.emei
%p
  %b Cost price:
  = @device.cost_price

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
