
.row
  .col-md-12.col-lg-12.col-sm-12.col-xs-12
    .pull-right= link_to 'New message', new_conversation_path, class: "btn btn-primary"
%br/


.row
  .col-md-12
    = form_tag mark_as_action_conversations_path, id: "mark_messages", :method => :put do
      .row
        .col-md-12
          .grid.simple
            .grid-body.no-border.email-body
              %br/
              .row-fluid
                .row-fluid.dataTables_wrapper
                  %h2.inline= @inbox_title
                  .btn-group.m-l-10.m-b-10
                    %a.btn.btn-white.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %span.anim150 Show
                      %span.caret.single
                    %ul.dropdown-menu
                      %li
                        = link_to "All", conversations_path(:read=>"all")
                      %li
                        = link_to "Read", conversations_path(:read=>"true")
                      %li
                        = link_to "Unread", conversations_path(:read=>"false")
                  .btn-group.m-l-10.m-b-10
                    %a.btn.btn-white.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %span.anim150 Actions
                      %span.caret.single
                    %ul.dropdown-menu
                      %li
                        %a{:id => "mark_as_read"} Mark as Read
                      %li
                        %a{:id => "mark_as_unread"} Mark as Unread
                      %li
                        %a{:id => "mark_as_deleted"} Mark as Deleted

                      = hidden_field_tag :clicked_action
                #email-list
                  %table#emails.table.table-striped.table-fixed-layout.table-hover
                    %thead
                      %tr
                        %th.small-cell
                        %th.medium-cell From
                        %th Subject
                        %th.big-cell Time
                    %tbody

                      - @conversations.each do |user_conversation|
                        %tr
                          %td.small-cell.v-align-middle
                            = check_box_tag "conversation_ids[]", user_conversation.id
                          %td.clickable.v-align-middle
                            = user_conversation.originator.name.capitalize
                          %td.clickable.tablefull.v-align-middle
                            %span.muted
                              = link_to user_conversation.subject, conversation_path(user_conversation.id)
                          %td
                            %span.muted
                              = "#{time_ago_in_words(user_conversation.last_message.created_at)} ago"


