
= search_form_for @q, :class => "form-inline" do |f| 
  = f.search_field :name_cont, :placeholder => "search by name" 
  = f.submit "Search" ,:class => "btn btn-default"

%br

.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          &nbsp;
        .tools
          %a.collapse{href: "javascript:;"}
          %a.config{"data-toggle" => "modal", href: "#grid-config"}
          %a.reload{href: "javascript:;"}
      .grid-body.no-border
        %h3
          Car Manufacturers
        %table.table.no-more-tables
          %thead
            %tr
              = content_tag :th, sort_link(@q, :name)
              %th
              %th
              %th
          %tbody
            
            - @car_manufacturers.each do |car_manufacturer|
              %tr
                %td= car_manufacturer.name
                %td= link_to 'Show', car_manufacturer
                %td= link_to 'Edit', edit_car_manufacturer_path(car_manufacturer)
                %td= link_to 'Destroy', car_manufacturer, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br


= link_to 'New Car manufacturer', new_car_manufacturer_path, class: "btn btn-success"
