%h1 Listing Car Manufacturers

= search_form_for @q, :class => "form-inline" do |f| 
  = f.search_field :name_cont, :placeholder => "search by name" 
  = f.submit "Search" ,:class => "btn btn-default"

%br

%table.table
  %tr
    = content_tag :th, sort_link(@q, :name)
    %th
    %th
    %th

  - @car_manufacturers.each do |car_manufacturer|
    %tr
      %td= car_manufacturer.name
      %td= link_to 'Show', car_manufacturer
      %td= link_to 'Edit', edit_car_manufacturer_path(car_manufacturer)
      %td= link_to 'Destroy', car_manufacturer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Car manufacturer', new_car_manufacturer_path
