.content
  .row
    .col-md-8.col-lg-8.col-sm-8.col-xs-8 
      .page-title
        %h3
          Alarm Groups List 
    .col-md-4.col-lg-4.col-sm-4.col-xs-4 
      .pull-right= link_to 'Create', new_group_path, class: "btn btn-success"

  .row
    .col-md-8
      = form_tag batch_destroy_groups_path, id: "destroy_groups", :method => :put do
        .row
          .col-md-12
            .grid.simple
              .grid-body 
                %table.table.no-more-tables
                  %thead
                    %tr
                      %th
                      = content_tag :th, sort_link(@q, :name)
                      %th

                  %tbody
                    
                    - @groups.each do |group|
                      %tr
                        %td.small-cell.v-align-middle= check_box_tag "group_ids[]", group.id, nil , class: "group_checkbox"
                        %td= link_to group.name, group
                        %td= link_to 'Edit', edit_group_path(group)
    .col-md-4
      .row
        .col-md-12
          .grid.simple
            .grid-title 
              %h4
                Search
              .tools
                %a.collapse{href: "javascript:;"}
            .grid-body 
              = search_form_for @q do |f| 
                .form-group
                  = f.search_field :name_cont, :placeholder => "Search with name" 
                .form-group
                  = f.submit "Search" ,:class => "btn btn-default"
  
#quick-access.admin-bar{:style => "bottom: -115px;"}
  .admin-bar-inner
    %button.btn.btn-danger.btn-add{type: "button", id: "batch_destroy"}
      %i.icon-trash
      Move to trash
    %button.btn.btn-white.btn-cancel{:type => "button"} Cancel
/ = render 'modal'

