%p#notice= notice

%h1= "#{@group.name} group"

%h3 Cars

%table.table
	%tr
		%th= "Name"


	- @group.cars.each do |car|
		%tr
			%td= link_to car.name, car

%br

%h3 Rules

%table.table
	%tr
		%th= "Name"
		%th= "Status"
		%th= "Last alert"

	- @rules.each do |rule|
		%tr
			%td= rule.name
			%td= @group.rule_status(rule)
			%td= @group.rule_last_alert(rule)
%br


= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
