#inbox-wrapper.row
  .col-md-12
    .row
      .col-md-12
        .grid.simple
          .grid-body.no-border.email-body
            %br/
            .row-fluid
              .row-fluid.dataTables_wrapper
                %h2.inline Messages
                .pull-right.margin-top-20
                  .dataTables_paginate.paging_bootstrap.pagination
                    %ul
                      %li.prev.disabled
                        %a{href: "#"}
                          %i.fa.fa-chevron-left
                      %li.active
                        %a{href: "#"} 1
                      %li
                        %a{href: "#"} 2
                      %li.next
                        %a{href: "#"}
                          %i.fa.fa-chevron-right
                  #example_info.dataTables_info.hidden-xs
                    Showing
                    %b 1 to 10
                    of 14 entries
                .clearfix
              #email-list
                %table#emails.table.table-striped.table-fixed-layout.table-hover
                  %thead
                    %tr
                      %th.small-cell
                      %th.small-cell
                      %th.medium-cell From 
                      %th Subject
                      %th.medium-cell Action
                      %th.big-cell Time
                  %tbody
                    - @conversations.each do |user_conversation|
                      %tr
                        %td.small-cell.v-align-middle
                          .checkbox.check-success
                            %input#checkbox8{type: "checkbox", value: "1"}/
                            %label{for: "checkbox8"}
                        %td.small-cell.v-align-middle
                          .star
                            %input#checkbox9{checked: "checked", type: "checkbox", value: "1"}/
                            %label{for: "checkbox9"}
                        %td.clickable.v-align-middle 
                          = user_conversation.originator.name
                        %td.clickable.tablefull.v-align-middle 
                          %span.muted
                            = link_to user_conversation.subject, conversation_path(user_conversation.id)
                        %td
                          %span.muted
                            = link_to "Mark as read", mark_as_read_conversation_path(user_conversation)
                        %td
                          %span.muted
                            = "#{time_ago_in_words(user_conversation.last_message.created_at)} ago"
                = link_to "New", new_conversation_path, class: "btn btn-primary"