.row
  .col-md-8.col-lg-8.col-sm-8.col-xs-8 
    .page-title
      - if is_manager?(current_user)
        = link_to raw("<i class='icon-custom-left'></i>"), users_path
      %h3
        User profile
        = link_to 'Edit', edit_user_path(@user), class: "btn btn-success btn-small"


.row
  .col-md-12
    .grid.simple
      .grid-body 
        .form-group
          %strong First name:
          = @user.first_name

        .form-group
          %strong Last name:
          = @user.last_name

        .form-group
          %strong Email:
          = @user.email

        - if is_admin?(current_user)
          .form-group
            %strong Roles:
            %ul
              - @user.roles.each do |role| 
                %li= role.capitalize