.content
  .row
    .col-md-12
      .grid.simple
        .grid-title.no-border
          %h3
            Forgot your password?
        .grid-body.no-border
          %br/
          .row
            .col-md-8.col-sm-8.col-xs-8
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                = devise_error_messages!
                .form-group
                  = f.label :email
                .form-group
                  = f.email_field :email, autofocus: true
                .form-group
                  = f.submit "Send me reset password instructions", class: "btn btn-primary"
              .row
                .col-md-12    
                  = render "devise/shared/links"