%h1 Listing device_models

%table.table
  %tr
    %th Name
    %th Device manufacturer
    %th Protocol
    %th
    %th
    %th

  - @device_models.each do |device_model|
    %tr
      %td= device_model.name
      %td= device_model.device_manufacturer.name
      %td= device_model.protocol
      %td= link_to 'Show', device_model
      %td= link_to 'Edit', edit_device_model_path(device_model)
      %td= link_to 'Destroy', device_model, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device model', new_device_model_path
