.row
  .col-md-8.col-lg-8.col-sm-8.col-xs-8 
    .page-title
      = link_to raw("<i class='icon-custom-left'></i>"), device_models_path
      %h3
        Device Model  
  .col-md-4.col-lg-4.col-sm-4.col-xs-4 
    .pull-right= link_to 'Edit', edit_device_model_path(@device_model), class: "btn btn-success"

.row
  .col-md-12
    .grid.simple
      .grid-body 
        %p
          %b Name:
          = @device_model.name
        %p
          %b Device manufacturer:
          = @device_model.device_manufacturer_id
        %p
          %b Protocol:
          = @device_model.protocol
