.row
  .col-md-12
    .page-title
      %h3
        Device Types List 
        = link_to 'New', new_device_type_path, class: "btn btn-primary btn-small"

.row
  .col-md-4
    .grid.simple
      .grid-title
        %h4
          Search 
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-body
        = search_form_for @q, :class => "form-inline" do |f| 
          .form-group
            = f.search_field :name_cont, :placeholder => "Type name here"
          .form-group 
            = f.submit "Search" ,:class => "btn btn-default"

  .col-md-8
    .grid.simple
      .grid-body
        %table.table.no-more-tables
          %thead
            %tr
              = content_tag :th, sort_link(@q, :name)
              %th
              %th
              %th
          %tbody
            
            - @device_types.each do |device_type|
              %tr
                %td= link_to device_type.name, device_type
                %td= link_to 'Edit', edit_device_type_path(device_type)
                %td= link_to 'Destroy', device_type, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br


