
= search_form_for @q, :class => "form-inline" do |f| 
  = f.search_field :name_cont, :placeholder => "Search with name" 
  = f.submit "Search" ,:class => "btn btn-default"

%br

.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-title.no-border
        %h4
          &nbsp;
          = link_to 'Add', new_device_type_path, class: "btn btn-success btn-small"
      .grid-body.no-border
        %h3
          Device types
        %table.table.no-more-tables
          %thead
            %tr
              = content_tag :th, sort_link(@q, :name)
              %th
              %th
              %th
          %tbody
            
            - @device_types.each do |device_type|
              %tr
                %td= device_type.name
                %td= link_to 'Show', device_type
                %td= link_to 'Edit', edit_device_type_path(device_type)
                %td= link_to 'Destroy', device_type, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br


