%table.table.mi-size.table-condensend.table-stripped
  %thead
    %tr
      %th Type
      %th Vehicle
      %th Location
      %th Zone
      %th Driven KM
      %th Ignition
      %th Tilting
  %tbody
    %tr
      %td= @car.car_type.name
      %td.heading= link_to "#{@car.try(:name)}", @car
      %td.description
      %td
      %td= "#{0} Km"
      %td
      %td
      %td
  -@dates[:start_date].upto(@dates[:end_date]).each do |date|

    -@first_pos = logbook_data.select{|p| p.time.to_date == date.to_date}.first
    -@last_pos = logbook_data.select{|p| p.time.to_date == date.to_date}.last
    -@data_positions = logbook_data.select{|p| p.time.to_date == date.to_date}
    -@logbook_data_ids = @data_positions.map{|p| p.id}
    -@steps = 1
    %tr
      %th.details
      %th.details= link_to "#{@first_pos.time.to_date}", '#', {class: 'show_road_for_this_date', data: {car_id: @car.id}}
      -parking_total = Time.at(Location.sum(:parking_duration, :conditions => {:id => @logbook_data_ids})).utc.strftime("%H:%M:%S")
      -driving_total = Time.at(Location.sum(:driving_duration, :conditions => {:id => @logbook_data_ids})).utc.strftime("%H:%M:%S")
      %th.details
        %span.label.label-info.icondrive= "P : #{parking_total}"
        %span.label.label-success.icondrive= "D : #{driving_total}"
      %th.details
      %th.details
      %th.details
      %th.details
    %tr.row-time-address
      %td.details.pull-right
        %a{class: 'expand_positions',:href => "#logbook", :data => {date: "#{date.strftime('%d%m%y')}"}}
          %i{class: "fa fa-lg fa-plus-circle"}
      %td.details= "#{@first_pos.time.strftime('%H:%M:%S')} - #{@last_pos.time.strftime('%H:%M:%S')}"
      %td.details.address
        %span.staddress= "#{@first_pos.address}"
        %span= "- #{@last_pos.address}"
      %td.details
      %td.details
      %td.details
      %td.details
    -@data_positions.each_with_index do |position, i|

      -if position.status == "start" or position.status == "stop"

        -ppos = @logbook_data.where('device_id like ?', position.device_id).where('time < ?', position.time).last
        -npos = @logbook_data.where('device_id like ?', position.device_id).where('time > ?', position.time).first

        %tr{class: "#{position.time.strftime('%d%m%y')}", style: 'display:none;'}
          %td.details.pull-right

            -if position.status == "error"
              %span.badge.badge-warning= @steps

            -if position.status == "start"
              %span.badge.badge-success= @steps

            -if position.status == "stop"
              %span.badge.badge-danger=@steps
              -@steps+=1

          -if position.status == "start"
            %td{style: 'border: none;'}
              %span= "#{position.time.strftime('%H:%M:%S')}"
              %span{style: 'margin-left:10px; font-weight: bold;'}= "D : #{Time.at(position.driving_duration.to_i).utc.strftime("%H:%M:%S")}"
              %span{style: 'margin-left:10px; font-weight: bold;'}= "P : #{Time.at(position.parking_duration.to_i).utc.strftime("%H:%M:%S")}"
          -else
            %td{style: 'border: none;'}
              %span= "#{position.time.strftime('%H:%M:%S')}"

          %td.details.address= "#{truncate(position.try(:address), :length => 80)}"
          %td.details
          %td.details= "#{position.speed} km/h"
          %td.details
          %td.details

:plain
  <script>

    show_road = function(data){
         Cars.Maps.switch_to_directions(data)
    }

    $('.show_road_for_this_date').click(function (){
         car_id = $(this).data('car-id')
         date = $(this).text()
         gon.watch('road', {url: '/one_car_render_directions?car_id='+car_id+'&date='+date}, show_road)
         $('.map-title').empty().html('Road of '+car_name+' <small>| '+date+'</small>')
    });

    $('.expand_positions').click(function(){
      date = $(this).data('date')
      if($('tr.'+date).css('display') != 'none'){
        $('tr.'+date).hide()
        $(this).find('i').removeClass('fa-minus-circle')
        $(this).find('i').addClass('fa-plus-circle')
      } else {
        $('tr.'+date).show()
        $(this).find('i').removeClass('fa-plus-circle')
        $(this).find('i').addClass('fa-minus-circle')
      }
    });
  </script>

/ .take_while{|pos| pos.time.strftime("%d%m%y") = date.strftime("%d%m%y") }
/ .select{|p| p.time.strftime("%d-%m-%y") == date.strftime("%d-%m-%y") }