= form_for @vertex do |f|
  - if @vertex.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vertex.errors.count, "error")} prohibited this vertex from being saved:"
      %ul
        - @vertex.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :region_id
    = f.number_field :region_id
  .actions
    = f.submit 'Save'
