%p#notice= notice

%p
  %b Latitude:
  = @vertex.latitude
%p
  %b Longitude:
  = @vertex.longitude
%p
  %b Region:
  = @vertex.region_id

= link_to 'Edit', edit_vertex_path(@vertex)
\|
= link_to 'Back', vertices_path
