= form_for @work_hour do |f|
  - if @work_hour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@work_hour.errors.count, "error")} prohibited this work_hour from being saved:"
      %ul
        - @work_hour.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :day_of_week, :class => "form-label"
    = f.number_field :day_of_week, :class => "form-control"
  .form-group
    = f.label :starts_at, :class => "form-label"
    = f.time_select :starts_at, :class => "form-control"
  .form-group
    = f.label :ends_at, :class => "form-label"
    = f.time_select :ends_at, :class => "form-control"
  .form-group
    = f.label :device_id, :class => "form-label"
    = f.number_field :device_id, :class => "form-control"
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
