%h1 Listing work_hours

%table
  %tr
    %th Day of week
    %th Starts at
    %th Ends at
    %th Device
    %th
    %th
    %th

  - @work_hours.each do |work_hour|
    %tr
      %td= work_hour.day_of_week
      %td= work_hour.starts_at
      %td= work_hour.ends_at
      %td= work_hour.device_id
      %td= link_to 'Show', work_hour
      %td= link_to 'Edit', edit_work_hour_path(work_hour)
      %td= link_to 'Destroy', work_hour, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Work hour', new_work_hour_path
