.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h3
          Work hours
      .grid-body.no-border
        %p
          %b Day of week:
          = @work_hour.day_of_week
        %p
          %b Starts at:
          = @work_hour.starts_at
        %p
          %b Ends at:
          = @work_hour.ends_at

        = link_to 'Edit', edit_work_hour_path(@work_hour)
        \|
        = link_to 'Back', work_hours_path
