.content
  .row
    .col-md-12
      .page-title
        %h3
          History

  .row.to-be-toggled
    .col-md-12
      .pull-right  
        = form_tag '', :method => :get do
          = select_tag('by_car_model', content_tag(:option,'Vehicle Models ...', :value=>"")+options_from_collection_for_select(CarModel.all, 'id', 'name', params[:by_car_model] ))
          = select_tag('by_car_type', content_tag(:option,'Vehicle Types ...', :value=>"")+options_from_collection_for_select(CarType.all, 'id', 'name', params[:by_car_type]))
          = submit_tag 'Apply Filters', :class => "btn btn-primary"

  %br/

  .row
    .col-md-12
      .row
        .col-md-12
          .grid.simple 
            .grid-body
              %table.table.no-more-tables
                %thead
                  %tr
                    = content_tag :th, sort_link(@q, :name)
                    = content_tag :th, sort_link(@q, :numberplate)
                    = content_tag :th, sort_link(@q, :car_model)
                    = content_tag :th, sort_link(@q, :car_type)
                    %th
                %tbody
                  
                  - @cars.each do |car|
                    %tr
                      %td= link_to car.name, positions_car_path(car)
                      %td= car.numberplate
                      %td= car.try(:car_model).try(:name)
                      %td= car.try(:car_type).try(:name)
                      %td= link_to 'Edit', edit_car_path(car)            


