.row
  .col-md-8.col-lg-8.col-sm-8.col-xs-8 
    .page-title
      %h3
        Vehicles List
  .col-md-4.col-lg-4.col-sm-4.col-xs-4 
    .pull-right= link_to 'Create', new_car_path, class: "btn btn-success"


= form_tag '', :method => :get do
  .row
    .col-md-3
      .row
        .col-md-12
          .grid.simple
            .grid-title
              %h4 Vehicle Model
            .grid-body
              = select_tag('by_car_model', content_tag(:option,'Vehicle Models ...', :value=>"")+options_from_collection_for_select(CarModel.all, 'id', 'name'), :class => "form-control")
      .row  
        .col-md-12
          .grid.simple
            .grid-title
              %h4 Vehicle Type
            .grid-body
              = select_tag('by_car_type', content_tag(:option,'Vehicle Types ...', :value=>"")+options_from_collection_for_select(CarType.all, 'id', 'name'), :class => "form-control")
      .row  
        .col-md-12
          .grid.simple
            .grid-title
              %h4 Traceability
            .grid-body
              %label
                = radio_button_tag 'trackable', 'all' , true
                = "All"
              %label 
                = radio_button_tag 'trackable', 'true' ,false
                = "Traceabe" 
              %label
                = radio_button_tag 'trackable', 'false' ,false
                = "Not Traceable"
      .row
        .col-md-12
          .grid.simple
            .grid-title
              %h4 Driver
            .grid-body
              .row
                .col-md-12
                  %label
                    = radio_button_tag 'has_driver', 'all' , true
                    = "All"
                  %label 
                    = radio_button_tag 'has_driver', 'true' ,false
                    = "With driver" 
                  %label
                    = radio_button_tag 'has_driver', 'false' ,false
                    = "Without driver"
      .row
        .col-md-12
          = submit_tag 'Apply Filters', :class => "btn btn-default"    

    .col-md-9
      
      .row
        .col-md-12
          .grid.simple 
            .grid-body
              %table.table.no-more-tables
                %thead
                  %tr
                    = content_tag :th, sort_link(@q, :name)
                    = content_tag :th, sort_link(@q, :numberplate)
                    = content_tag :th, sort_link(@q, :car_model)
                    = content_tag :th, sort_link(@q, :car_type)
                    %th
                    %th
                    %th
                %tbody
                  
                  - @cars.each do |car|
                    %tr
                      %td= link_to car.name, car
                      %td= car.numberplate
                      %td= car.try(:car_model).try(:name)
                      %td= car.try(:car_type).try(:name)
                      %td= link_to 'Edit', edit_car_path(car)
                      %td= link_to 'Destroy', car, :method => :delete, :data => { :confirm => 'Are you sure?' }


