%h1 Listing cars

= form_tag '', :method => :get, :class => "form-horizontal" do
  
  %br  
  
  %br 
  .panel.panel-default
    .panel-body
      .row
        .col-sm-3
          %h4= "Car model"
          .form-group
            .row
              .col-sm-8.col-sm-offset-1
                = select_tag('by_car_model', content_tag(:option,'Car Models ...', :value=>"")+options_from_collection_for_select(CarModel.all, 'id', 'name'), :class => "form-control")
        .col-sm-3
          %h4= "Car type"
          .form-group
            .row
              .col-sm-8.col-sm-offset-1
                = select_tag('by_car_type', content_tag(:option,'Car Types ...', :value=>"")+options_from_collection_for_select(CarType.all, 'id', 'name'), :class => "form-control")
        .col-sm-3
          %h4= "Traceable"
          .radio 
            = radio_button_tag 'trackable', 'true' ,false
            = "traceable" 
          .radio
            = radio_button_tag 'trackable', 'false' ,false
            = "Not traceable"
          .radio
            = radio_button_tag 'trackable', 'all' , true
            = "All"

        .col-sm-3
          %h4= "Driver"
          .radio 
            = radio_button_tag 'has_driver', 'true' ,false
            = "With driver" 
          .radio
            = radio_button_tag 'has_driver', 'false' ,false
            = "Without driver"
          .radio
            = radio_button_tag 'has_driver', 'all' , true
            = "All"
      %br
      .row
        .col-sm-12
          = submit_tag 'Apply filters', :class => "btn btn-default"
  

%br

%table.table
  %tr
    %th Mileage
    %th Numberplate
    %th Car model
    %th Car type
    %th Registration no
    %th Year
    %th Color
    %th
    %th
    %th

  - @cars.each do |car|
    %tr
      %td= car.mileage
      %td= car.numberplate
      %td= car.car_model.name
      %td= car.car_type.name
      %td= car.registration_no
      %td= car.year
      %td= car.color
      %td= link_to 'Show', car
      %td= link_to 'Edit', edit_car_path(car)
      %td= link_to 'Destroy', car, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Car', new_car_path, :class => "btn btn-primary"
