%p#notice= notice

%div{ :style => "width: 800px;" }
  %div#cars_show{ :style => "width: 800px; height: 400px;"}

= button_tag "Refresh", :class => "refresh_car btn btn-primary"

%br
%br

%p
  %b Mileage:
  = @car.mileage
%p
  %b Numberplate:
  = @car.numberplate
%p
  %b Device:
  - if @car.device
    = @car.device.name
  - else
    = "This car doesn't have a device yet"
%p
  %b Car model:
  = @car.car_model_id
%p
  %b Car type:
  = @car.car_type_id
%p
  %b Registration no:
  = @car.registration_no
%p
  %b Year:
  = @car.year
%p
  %b Color:
  = @car.color

= link_to 'Edit', edit_car_path(@car)
\|
= link_to 'Back', cars_path
