
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h3
          Filter by date
      .grid-body.no-border
        = form_tag '', :method => :get, :id => "filter_by_date" do
          .form-group
            = text_field_tag "scope[start_date]", params.try(:[], :scope).try(:[], :start_date), class: "date"
            = text_field_tag "scope[start_time]", params.try(:[], :scope).try(:[], :start_time), class: "time"
          .form-group
            To
          .form-group
            = text_field_tag "scope[end_date]", params.try(:[], :scope).try(:[], :end_date), class: "date"
            = text_field_tag "scope[end_time]", params.try(:[], :scope).try(:[], :end_time) , class: "time"
          .form-group
            Number of results
          .form-group
            = number_field_tag "scope[limit_results]", params.try(:[], :scope).try(:[], :limit_results)
          .form-group
            = submit_tag 'Apply filters', :class => "btn btn-default"

.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h3
          Car
      .grid-body.no-border
        %div{ :style => "width: 800px;" }
          %div#cars_show{ :style => "width: 800px; height: 400px;"}

        %br
        %br

        %p
          %b Mileage:
          = @car.mileage
        %p
          %b Numberplate:
          = @car.numberplate
        %p
          %b Device:
          - if @car.device
            = link_to @car.device.name, @car.device
          - else
            = "This car doesn't have a device attached to it yet"
        %p
          %b Car model:
          = @car.car_model_id
        %p
          %b Car type:
          = @car.car_type_id
        %p
          %b Registration no:
          = @car.registration_no
        %p
          %b Year:
          = @car.year
        %p
          %b Color:
          = @car.color

        = link_to 'Edit', edit_car_path(@car)
        \|
        = link_to 'Back', cars_path

- if !@positions.nil?
  .row
    .col-md-12
      .grid.simple
        .grid-title.no-border
          %h4
            Positions
          .tools
            %a.collapse{href: "javascript:;"}
        .grid-body.no-border
          %h4
            &nbsp;
          %table.table.no-more-tables
            %thead
              %tr
                %th Latitude, Longitude
                %th Date
            %tbody
              
              - @positions.each do |position|
                %tr
                  %td= "#{position[:latitude]},#{position[:longitude]}"
                  %td= position[:time]
                 
                
  %br
