.row
  .col-md-8.col-lg-6.col-sm-6.col-xs-6
    .page-title
      %h3
        = @car.name.capitalize
  .col-md-4.col-lg-6.col-sm-6.col-xs-6
    .pull-right= button_tag "Switch Map view mode", :class => "switch_map_mode btn btn-success"

%br/

.row
  .col-md-12
    = form_tag '', :method => :get, :id => "filter_by_date" do
      .row
        .col-sm-9
          .grid.simple
            .grid-body
              .row
                .col-lg-3.col-md-12.col-sm-12.col-xs-12
                  .form-group
                    .input-group
                      .input-group-addon
                        %i.fa.fa-th
                      = text_field_tag "scope[start_date]", params.try(:[], :scope).try(:[], :start_date), class: "date start_date form-control"                  
                .col-lg-2.col-md-12.col-sm-12.col-xs-12
                  .form-group
                    .input-group
                      .input-group-addon
                        %i.fa.fa-clock-o
                      = text_field_tag "scope[start_time]", params.try(:[], :scope).try(:[], :start_time), class: "time start_time form-control"
                .col-lg-2.col-md-12.col-sm-12.col-xs-12
                  %div{style: "text-align:center; margin-top:10px; margin-bottom:20px;"} Until
                .col-lg-3.col-md-12.col-sm-12.col-xs-12
                  .form-group
                    .input-group
                      .input-group-addon
                        %i.fa.fa-th
                      = text_field_tag "scope[end_date]", params.try(:[], :scope).try(:[], :end_date), class: "date end_date form-control"
                .col-lg-2.col-md-12.col-sm-12.col-xs-12
                  .form-group
                    .input-group
                      .input-group-addon
                        %i.fa.fa-clock-o
                      = text_field_tag "scope[end_time]", params.try(:[], :scope).try(:[], :end_time) , class: "time end_time form-control"
        .col-sm-3
          .grid.simple
            .grid-body
              .row
                .col-lg-12
                  Number of results : 
                  = number_field_tag "scope[limit_results]", params.try(:[], :scope).try(:[], :limit_results), class: "limit_results form-control"
      .row 
        .col-md-12
          .form-group
            .pull-right= submit_tag 'Apply filters', :class => "btn btn-default btn-primary"

%br/

.row
  .col-md-12
    .row.tiles-container.tiles.white.hidden-xlg.m-b-20
      %div
        %div#cars_show{ :style => "width: 100%; height: 400px;"}


.row
  .col-md-6
    .grid.simple.horizontal.green
      .grid-title
        %h4 Positions History
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-body
        - if !@positions.nil? && @positions.count != 0
          %table.table.no-more-tables
            %thead
              %tr
                %th Address
                %th Date
            %tbody
              
              - @positions.each do |position|
                %tr
                  %td= position.try(:location).try(:address)
                  %td= position[:time]
        - else 
          No positions available, Try to pick another time period.

  .col-md-6
    .grid.simple.horizontal.green
      .grid-title
        %h4 Information Card
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-body
        %b Name:
        = @car.try(:name)
        %br/
        %b Driver:
        = @car.try(:driver).try(:name)
        %br/
        %b Mileage:
        = @car.mileage
        %br/
        %b Numberplate:
        = @car.numberplate
        %br/
        %b Device:
        - if @car.device
          = link_to @car.device.name, @car.device
        - else
          = "This car doesn't have a device attached to it yet"
        %br/
        %b Car model:
        = @car.car_model_id
        %br/
        %b Car type:
        = @car.car_type_id
        %br/
        %b Registration no:
        = @car.registration_no
        %br/
        %b Year:
        = @car.year
        %br/
        %b Color:
        = @car.color
        %br/
        %br/
        = link_to 'Edit', edit_car_path(@car)
        \|
        = link_to 'Back', cars_path
  
                 
                
  %br
