.row
  .col-md-12
    .pull-right= button_tag "Switch Map view mode", :class => "switch_map_mode btn btn-success btn-small"

%br/

.row
  .col-md-12
    = form_tag '', :method => :get, :id => "filter_by_date" do
      .grid.simple
        .grid-body
          .row{style: "height:30px;"}
            .col-lg-2.col-md-12.col-sm-12.col-xs-12
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-th
                  = text_field_tag "scope[start_date]", params.try(:[], :scope).try(:[], :start_date), class: "date start_date form-control"                  
            .col-lg-2.col-md-12.col-sm-12.col-xs-12
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-clock-o
                  = text_field_tag "scope[start_time]", params.try(:[], :scope).try(:[], :start_time), class: "time start_time form-control"
            .col-lg-2.col-md-12.col-sm-12.col-xs-12
              %div{style: "text-align:center; margin-top:10px; margin-bottom:20px;"}= fa_icon "arrow-right"
            .col-lg-2.col-md-12.col-sm-12.col-xs-12
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-th
                  = text_field_tag "scope[end_date]", params.try(:[], :scope).try(:[], :end_date), class: "date end_date form-control"
            .col-lg-2.col-md-12.col-sm-12.col-xs-12
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-clock-o
                  = text_field_tag "scope[end_time]", params.try(:[], :scope).try(:[], :end_time) , class: "time end_time form-control"
            .col-lg-2.col-md-12.col-sm-12.col-xs-12
              = submit_tag 'Apply', :class => "btn btn-default btn-primary"

.row
  .col-md-9{style:"margin-bottom:10px"}
    %div#cars_show{ :style => "width: 100%; height: 400px;"}
  .col-md-3
    .grid.simple.horizontal.green
      .grid-title
        %h4 Informations
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-body
        %b Name:
        = @car.try(:name)
        %br/
        %b Driver:
        = @car.try(:driver).try(:name)
        %br/
        %b Mileage:
        = @car.mileage
        %br/
        %b Numberplate:
        = @car.numberplate
        %br/
        %b Device:
        - if @car.device
          = link_to @car.device.name, @car.device
        - else
          = "This car doesn't have a device attached to it yet"
        %br/
        %b Vehicle model:
        = @car.car_model_id
        %br/
        %b Vehicle type:
        = @car.car_type_id
        %br/
        %b Registration no:
        = @car.registration_no
        %br/
        %b Year:
        = @car.year
        %br/
        %b Color:
        = @car.color
        %br/
        %br/
        = link_to 'Edit', edit_car_path(@car)
        \|
        = link_to 'Back', cars_path

.row
  .col-md-12
    .grid.simple.horizontal.green
      .grid-title
        %h4 Positions History
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-body
        - if !@positions.nil? && @positions.count != 0
          %table.table.no-more-tables
            %thead
              %tr
                %th Address
                %th Date
            %tbody
              
              - @positions.each do |position|
                %tr
                  %td= position.try(:location).try(:address)
                  %td= position[:time]
        - else 
          No positions available, Try to pick another time period.

  
