
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h3
          Filter by date
      .grid-body.no-border
        = form_tag '', :method => :get, :id => "filter_by_date" do
          .form-group
            = text_field_tag "scope[start_date]", params.try(:[], :scope).try(:[], :start_date), class: "date start_date"
            = text_field_tag "scope[start_time]", params.try(:[], :scope).try(:[], :start_time), class: "time start_time"
          .form-group
            To
          .form-group
            = text_field_tag "scope[end_date]", params.try(:[], :scope).try(:[], :end_date), class: "date end_date"
            = text_field_tag "scope[end_time]", params.try(:[], :scope).try(:[], :end_time) , class: "time end_time"
          .form-group
            Number of results
          .form-group
            = number_field_tag "scope[limit_results]", params.try(:[], :scope).try(:[], :limit_results)
          .form-group
            = submit_tag 'Apply filters', :class => "btn btn-default"
.row
  .col-md-12
    .row.tiles-container.tiles.white.hidden-xlg.m-b-20
      %div
        %div#cars_show{ :style => "width: 100%; height: 400px;"}


.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        .form-group
          %h3
            Information Card
      .grid-body.no-border
        .form-group
          %b Mileage:
          = @car.mileage
        .form-group
          %b Numberplate:
          = @car.numberplate
        .form-group
          %b Device:
          - if @car.device
            = link_to @car.device.name, @car.device
          - else
            = "This car doesn't have a device attached to it yet"
        .form-group
          %b Car model:
          = @car.car_model_id
        .form-group
          %b Car type:
          = @car.car_type_id
        .form-group
          %b Registration no:
          = @car.registration_no
        .form-group
          %b Year:
          = @car.year
        .form-group
          %b Color:
          = @car.color

        = link_to 'Edit', edit_car_path(@car)
        \|
        = link_to 'Back', cars_path

- if !@positions.nil?
  .row
    .col-md-12
      .grid.simple
        .grid-title.no-border
          .tools
            %a.collapse{href: "javascript:;"}
        .grid-title.no-border
          .form-group
            %h3
              Positions History
          %table.table.no-more-tables
            %thead
              %tr
                %th Latitude, Longitude
                %th Address
                %th Date
            %tbody
              
              - @positions.each do |position|
                %tr
                  %td= "#{position.latitude},#{position.longitude}"
                  %td= position.try(:location).try(:address)
                  %td= position[:time]
                 
                
  %br
