.page-title
  %h3
    Listing plans

.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-title.no-border
        %h4
          Cars
          = link_to 'Add', new_plan_path, class: "btn btn-success btn-small"  
      .grid-body.no-border
        %table.table.no-more-tables
          %thead
            %tr
              %th Name
              %th
              %th
              %th
              %th
          %tbody
            - @plans.each do |plan|
              %tr
                %td= link_to plan.try(:plan_type).try(:name), plan
                %td= link_to 'Switch', new_subscription_path(:plan_id => plan.id)
                %td= link_to 'Edit', edit_plan_path(plan)
                %td= link_to 'Destroy', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }

