%h1 Listing plans

%table
  %tr
    %th
    %th
    %th
    %th

  - @plans.each do |plan|
    %tr
      %td= link_to 'Show', plan
      %td= link_to 'Upgrade to this plan', new_subscription_path(:plan_id => plan.id)
      %td= link_to 'Edit', edit_plan_path(plan)
      %td= link_to 'Destroy', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plan', new_plan_path
