.content
  .row
    .col-md-8.col-lg-8.col-sm-8.col-xs-8 
      .page-title
        %h3
          Features 
    .col-md-4.col-lg-4.col-sm-4.col-xs-4 
      .pull-right= link_to 'Create', new_feature_path, class: "btn btn-success"


  .row
    .col-md-12
      .grid.simple
        .grid-body 
          %table.table.no-more-tables
            %thead
              %tr
                %th Name
                %th Role
                %th
                %th

            %tbody
              - @features.each do |feature|
                %tr
                  %td= link_to feature.name, feature
                  %td= feature.role
                  %td= link_to 'Edit', edit_feature_path(feature)
                  %td= link_to 'Destroy', feature, :method => :delete, :data => { :confirm => 'Are you sure?' }      
