.row
  .col-md-12
    .page-title
      %h3
        Features List 
        = link_to 'New', new_feature_path, class: "btn btn-primary btn-small"

.row
  .col-md-12
    .grid.simple
      .grid-body 
        %table.table.no-more-tables
          %thead
            %tr
              %th Name
              %th Role
              %th
              %th

          %tbody
            - @features.each do |feature|
              %tr
                %td= link_to feature.name, feature
                %td= feature.role
                %td= link_to 'Edit', edit_feature_path(feature)
                %td= link_to 'Destroy', feature, :method => :delete, :data => { :confirm => 'Are you sure?' }


  

          
