%p#notice= notice

%p
  %b Name:
  = @car_model.name
%p
  %b Car manufacturer:
  = @car_model.car_manufacturer_id

= link_to 'Edit', edit_car_model_path(@car_model)
\|
= link_to 'Back', car_models_path
