!!!
%html
  %head

    / = javascript_include_tag 'head.min'
    / = headjs_include_tag 'application'

    %title Trackman

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    = stylesheet_link_tag 'application', media: 'all'

    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript", data_no_turbolink: true }}
    %script{:src => "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js", :type => "text/javascript", data_no_turbolink: true }}
    %script{:src => "http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text/javascript", data_no_turbolink: true }}

    = javascript_include_tag 'application'

    = javascript_include_tag 'https://bridge.paymill.com/'
    :javascript
      var PAYMILL_PUBLIC_KEY = '82116769296bc2931f43f72dae901142';

    = csrf_meta_tags

  %body.error-body{'data-class-name' => js_class_name, class: 'condense-menu'}

    = include_gon(watch: true)

    / BEGIN HEADER
    .header.navbar.navbar-inverse
      / BEGIN TOP NAVIGATION BAR
      .navbar-inner
        / BEGIN NAVIGATION HEADER
        .header-seperation
          / BEGIN MOBILE HEADER
          %ul#main-menu-toggle-wrapper.nav.pull-left.notifcation-center{:style => "display:none"}
            %li.dropdown
              %a#main-menu-toggle{:href => "#main-menu"}
                .iconset.top-menu-toggle-white

          =link_to root_path do
            = image_tag "logo-white.png", :class => "logo-image logo logo-white"
          / END MOBILE HEADER
          / BEGIN LOGO

          / END LOGO
          / BEGIN LOGO NAV BUTTONS
          %ul.nav.pull-right.notifcation-center
            %li#header_task_bar.dropdown
              %a.dropdown-toggle.active{"data-toggle" => "", :href => root_path}
                .iconset.top-home
            %li#header_inbox_bar.dropdown
              %a.dropdown-toggle{:href => conversations_path}
                .iconset.top-messages
                - if conversations_count(current_user) != 0
                  %span#msgs-badge.badge= conversations_count(current_user)
          / END LOGO NAV BUTTONS
        / END NAVIGATION HEADER
        / BEGIN CONTENT HEADER
        .header-quick-nav
          / BEGIN HEADER LEFT SIDE SECTION
          .pull-left
            / BEGIN SLIM NAVIGATION TOGGLE
            %ul.nav.quick-section{style: 'margin-left: 0px;'}
              %li.quicklinks
                =link_to root_path do 
                  = image_tag "logo.png", :class => "logo-image logo logo-dark" 
              %li.quicklinks{style: 'margin-top: 17px; margin-left:10px; margin-right:17px;'}
                %a#layout-condensed-toggle-two{:href => "#"}
                  .iconset.top-menu-toggle-dark
            / END SLIM NAVIGATION TOGGLE
          / END HEADER LEFT SIDE SECTION
          / BEGIN HEADER RIGHT SIDE SECTION
          .pull-right
            %ul.nav.quick-section
              / BEGIN SETTINGS
              %li.quicklinks{style: 'padding-top:18px;'}
                %a#user-options.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  .iconset.top-settings-dark
                %ul.dropdown-menu.pull-right{"aria-labelledby" => "user-options", :role => "menu"}
                  - if current_user.company
                    %li= link_to "Settings", user_path(current_user)
                    - if is_manager?(current_user)
                      %li= link_to "Company Settings", company_path(current_user.company.id)
                  %li.divider
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %i.fa.fa-power-off>
                      \  Sign out
            / END HEADER NAV BUTTONS
          / END HEADER RIGHT SIDE SECTION
        / END CONTENT HEADER
      / END TOP NAVIGATION BAR
    / END HEADER
    / BEGIN CONTENT
    .page-container.row-fluid
      / BEGIN SIDEBAR
      / BEGIN MENU
      #main-menu.page-sidebar.mini
        #main-menu-wrapper.page-sidebar-wrapper
          / BEGIN SIDEBAR MENU
          %p.menu-title
            ADMINISTRATION
            = render "layouts/menu"
            / END TWO LEVEL MENU
          / END SIDEBAR MENU
      / BEGIN SCROLL UP HOVER
      %a.scrollup{:href => "#"} Scroll
      / END SCROLL UP HOVER
      / END MENU
      / BEGIN SIDEBAR FOOTER WIDGET
      .footer-widget
        .pull-right
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-power-off
      / END SIDEBAR FOOTER WIDGET
      / END SIDEBAR
      / BEGIN PAGE CONTAINER

      .page-content
        .col-md-12
          = yield
