!!!
%html
  %head
    %title Trackman
    = include_gon(watch: true)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.error-body.no-top.lazy
    .container 
      - if Rails.env.development?
      	= "ActsAsTenant.current_tenant #{ActsAsTenant.current_tenant.name}" 
      = yield