.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h3
          Parameter
      .grid-body.no-border
        %p
          %b Name:
          = @parameter.name
        %p
          %b Type:
          = @parameter.type
        %p
          %b Rule:
          = @parameter.rule_id

        = link_to 'Edit', edit_parameter_path(@parameter)
        \|
        = link_to 'Back', parameters_path
